fastapi[all]
uvicorn[standard]
gunicorn

asyncpg

sqlalchemy
sqlalchemy_utils

pydantic
starlette
strawberry-graphql
click
aiodataloader
aiohttp
pyjwt
requests

prometheus-client
prometheus_fastapi_instrumentator

https://github.com/hrbolek/uoishelpers/archive/refs/heads/main.zip

pytest
pytest-cov
pytest-asyncio
aiosqlite
https://github.com/hrbolek/PyMockOAuthServer/archive/refs/heads/main.zip